/*
font-face {
  font-family: 'Phantom Sans';
  src: url('https://hackclub.com/fonts/Phantom_Sans_0.6/Regular.woff')
      format('woff'),
    url('https://hackclub.com/fonts/Phantom_Sans_0.6/Regular.woff2')
      format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
*/
@font-face {
  font-family: 'Phantom Sans';
  src: url('https://hackclub.com/fonts/Phantom_Sans_0.6/Bold.woff')
      format('woff'),
    url('https://hackclub.com/fonts/Phantom_Sans_0.6/Bold.woff2')
      format('woff2');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  background-color: #ffffff;
  font-family: "Phantom Sans", system-ui, Roboto, sans-serif;
  overflow: hidden;
}

svg {
  cursor: move;
}


@media (max-width: 32em) {
  #banner {
    top: auto;
    bottom: 1rem;
  }
}

.segment {
  stroke: #181919;
  stroke-width: 1px;
  fill: #f3f6f6;
}

.layer {
  pointer-events: none;
}

#markers circle {
  opacity: 0.75;
}
